---
layout: default
---
<br>
<h1 class="rainbow-blue tracking-tighter" style="font-weight: 300;">Hennig Lab</h1>
<h2 class="rainbow-blue tracking-tighter">Amazing Department, Some University</h2>

{% if site.data.news %}
<div class="resume-item" style="clear: both;">
	<ul class="news-items">
	{% for item in site.data.news %}
	  <li class="news-item">
	    <span class="news-date">{{ item.date }}</span><span class="news-comment">{{ item.comment }}</span>
	  </li><br>
	{% endfor %}
	</ul>
</div>
{% endif %}
