
.person-item {
	clear: both;
	margin-bottom: 1em;
	color: black;
}

.person-item-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.person-item-name {
	@include sans_kindabold;
	font-size: 1.2rem;
	display: block;
	margin-bottom: 0.1em;
}

.person-item-img {
	width: 150px;
    max-width: 100%;
    overflow: hidden;
    @include border-radius(10px);
}

.person-item-bio {
	margin-left: 1em;
	float: left;
	font-size: medium;
	width: 70%;
}

.person-contact-buttons {
	margin-left: 1em;
	text-align: center;
	float: left;
}
