
.person-item {
	clear: both;
	margin-bottom: 1em;
}

.person-item-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.person-item-name {
	@include sans_light;
	font-size: 1.2rem;
	display: block;
	margin-bottom: 0.1em;
}

.person-item-img {
	width: 150px;
    max-width: 80%;
    overflow: hidden;
    @include border-radius(3px);
    //float: left;
    //margin: 0 auto;
    //display: block;
}

.person-item-interests {
	margin-left: 1em;
	float: left;
	font-size: small;
	width: 50%;
}
